.modal#modal-change-personal-manager
	.modal-dialog
		.modal__title
			| Сменить персонального
			br
			|менеджера

		.modal__subtitle
			| Пожалуйста, подробно опишите причину
			br
			| смены менеджера.
			| Тогда наша служба контроля
			br
			| за качеством обслуживания сможет
			br
			| принять меры.

		form#form-reason-to-change-manager.form-reason-to-change-manager.js-form-validate
			.form-row
				textarea(required
								 data-parsley-error-message='Это поле нужно заполнить'
								 placeholder='Опишите причину смены менеджера').form-control

			.form-row.text-right-important
				button.btn-grey.inline-sm-btn
					| Отмена
				button.btn-primary.inline-sm-btn
					| Сменить менеджера

		.modal-close(data-dismiss='modal')