extends assets/jade/layouts/global/index

block header
	include assets/jade/layouts/global/partials/header-menu-autorization

block content
	.content-section.error-page-content
		.content-section__inner
			.section-title._no-b-indent
				| Ошибка 404.
				br
				| Страница не найдена

			.section-subtitle
				| Извините, запрашиваемый адрес страницы не&nbsp;существует.

			p
				| Пожалуйста, проверьте правильность введенного адреса страницы или перейдите по одной из ссылок ниже:

			.links-list
				.links-list__item
					a(href='#') Портфель

				.links-list__item
					a(href='#') Паевые Инвестиционные Счета

				.links-list__item
					a(href='#') Доверительное Управление

				.links-list__item
					a(href='#') Индивидуальный Инвестиционный Счет

				.links-list__item
					a(href='#') Ваш профиль и настройки

	include assets/jade/partials/outgoing-link

	include assets/jade/partials/privacy-policy

block body_end