extends assets/jade/layouts/global/index

block header
	include assets/jade/layouts/global/partials/header-menu-autorization

block content
	.content-section.error-page-content
		.content-section__inner
			.section-title._no-b-indent
				| Ошибка 403.
				br
				| В доступе отказано

			.section-subtitle
				| Вы запросили страницу, доступ к которой ограничен специальными правами.

			.links-list
				.links-list__item
					a(href='#') Войти в личный кабинет

	include assets/jade/partials/outgoing-link

	include assets/jade/partials/privacy-policy

block body_end