extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title Медиа

			form.form-filter-archive
				.form-row
					label.form-row__title
						| Архив по годам:

					select.form-control.center
						option 2015
						option 2016
						option 2017



	.media-list
		+media-list-item(
			'assets/img/media-1.png',
			[
				'Личные финансы с Натальей Смирновой. Выпуск 18. Паевый инвестиционный фонд (ПИФ)',
			],
			'сегодня, 11:18'
		)
		+media-list-item(
			'assets/img/media-2.png',
			[
				'Личные финансы с Натальей Смирновой. Выпуск 18. Пожизненный источник дохода',
			],
			'сегодня, 11:18'
		)

	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end