extends assets/jade/layouts/global/index_highstock
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title
				| Открытие индивидуального инвестиционного счета
		form.form-strategy-planning
			.form-row.form-row--risks
				.accordion-panel.js-toggle-parent-el
					.content-section__inner
						.accordion-panel__heading.js-toggle-parent-el-button
							.title Сбалансированная стратегия. Оценка исторических данных

					.accordion-panel__body.js-toggle-parent-el-body
						.content-section__inner
							p.inside.accordion-panel__body-item Рекомендованная Вам стратегия с учетом Вашей склонности к риску, инвестиционных целей, а также всевозможных планов и сроков по выводу размещаемых стредств — Сбалансированная.
						.period-block
							.period-block_header
								.content-section__inner
									.period-block_header-content
										i.icon.icon-datepicker.js-show-datepicker
										.text
											.text-label Выбрать период
											span.link-text-small.js-show-datepicker 1 сен 2016 - 30 сен 2016

							.chart-history__container._inside-accordion
								.chart-history
									.chart-history__start-data
										| 564,28
									.chart-history__end-data
										| 900,68
									#history-chart

								.content-section__inner
									.chart__date-info
										.chart__date-info--title
											| Апрель 2016
										.chart__date-range
											.chart__date-range--item._left 14
											.chart__date-range--item._left 15
											.chart__date-range--item._left 16
											.chart__date-range--item._left 17
											.chart__date-range--item._active 18
											.chart__date-range--item._right 19
											.chart__date-range--item._right 20
											.chart__date-range--item._right 21
											.chart__date-range--item._right 22
										.chart__current-value
											| Изменение: &nbsp;
											span.green-text +15,8 (2,8%)

		.content-section__inner
			include assets/jade/partials/purchase-strategy-form-bottom

	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end