extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title._text-indent
				| Открытие индивидуального инвестиционного счета

		include assets/jade/partials/purchase-chosen-data
		.content-section__inner
			p Я, Ковалев Сергей Алексеевич:
			form(method='' action='').form-cabinet-connection-data.js-form-validate
				.form-list.margin-bottom-0
					.form-list__item
						input(type='checkbox' checked='checked' id='form-ccv-esignature-check')

						label(for='form-ccv-esignature-check')
							| Подтверждаю, что ознакомлен с&nbsp;
							a(href='#')
								| условиями доверительного управления ценными бумагами с открытием и ведением индивидуального инвестиционного счета.

					.form-list__item
						input(type='checkbox' checked='checked' id='form-ccv-communication-check')

						label(for='form-ccv-communication-check')
							| Подтверждаю достоверность предоставленных данных и подтверждаю свое желание заключить договор ДУ на открытие ИИС.

	include assets/jade/partials/get-phone-code
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end