extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu-registration
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title._no-b-indent
				| Подключить личный кабинет

			.section-subtitle
				| Введите email и придумайте пароль

			include assets/jade/partials/forms/password-creating

	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end