extends assets/jade/layouts/global/index_highstock
block header
	include assets/jade/layouts/global/partials/header-menu

block content
	.content-section
		.tabs.not-shadow
			.tabs__nav
				a(href='#portfolio-1').tabs__nav-item.no-wrap.is-active
					| Общий портфель

				a(href='#portfolio-2').tabs__nav-item.no-wrap
					| Портфель по договору №111

		.tab-container._black-inverted#portfolio-1.is-visible
			.content-section__inner
				.section-title._medium-indent
					| Динамика портфеля ДУ

				.section-subtitle
					| График доходности. Динамика портфеля с учетом вводов и выводов

			.period-block
				.period-block_header
					.content-section__inner
						.period-block_header-content
							i.icon.icon-datepicker.js-show-datepicker
							.text
								.text-label Выбрать период:
								span.link-text-small.js-show-datepicker 1 сен 2016 - 30 сен 2016

			.chart-history__container
				.chart-history
					.chart-history__start-data
						| 32 489 287,05
					.chart-history__end-data
						| 32 509 178,66
					#history-chart

				.content-section__inner
					.chart__date-info
						.chart__date-info--title
							| Апрель 2016
						.chart__date-range
							.chart__date-range--item._left 14
							.chart__date-range--item._left 15
							.chart__date-range--item._left 16
							.chart__date-range--item._left 17
							.chart__date-range--item._active 18
							.chart__date-range--item._right 19
							.chart__date-range--item._right 20
							.chart__date-range--item._right 21
							.chart__date-range--item._right 22
						.chart__current-value
							| Тек. оценка: 32 509 125,15

			.content-section__inner
				.form-row
					.form-row__main-title
						| Доходность рублевой части портфеля (RUB)

				.form-row
					label(for='choose-parameters-portoflio-1').form-row__title
						| Выберите параметр для отображения:

					select.form-control._small-text#choose-parameters-portoflio-1
						option Средне-инвестированная сумма
						option Средне-инвестированная сумма 2

			.chosen-parameters-info
				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ОФЗ 26207
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  379 423,17

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ДВМП (FESCO), БО 2
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  409 248,26

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ФК ОТКРЫТИЕ, 02
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  126 066,98

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| Элемент Лизинг, БО-03
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  820 617,29

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ОткрФКББ04
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  3 897 693,59

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| СУЭК Финанс 05 обл
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  2 262 344,34

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ДельтаКредит 11 ИП
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  841 945,66

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| Элемент Лизинг БО-04
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  2 037,26

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title._normal
							| ИТОГО:
						.chosen-parameters-info__item-info
							| Средне-инвестированная сумма:
							span.chosen-parameters-info__item-value
								|  8 739 376,55

			.content-section__inner
				.form-row
					.form-row__main-title
						| Доходность валютной части портфеля (USD)

				.form-row
					label(for='choose-parameters-portoflio-2').form-row__title
						| Выберите параметр для отображения:

					select.form-control._small-text#choose-parameters-portoflio-2
						option Текущая оценка
						option Текущая оценка 2

			.chosen-parameters-info
				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| PSB Finance S.A. -5-2016-евро
						.chosen-parameters-info__item-info
							| Текущая оценка:
							span.chosen-parameters-info__item-value
								|  105,857.75

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| VTB Eurasia Limited
						.chosen-parameters-info__item-info
							| Текущая оценка:
							span.chosen-parameters-info__item-value
								|  13,939.52

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| PSB Finance S.A. -2019
						.chosen-parameters-info__item-info
							| Текущая оценка:
							span.chosen-parameters-info__item-value
								|  108,346.48

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title._normal
							| ИТОГО:
						.chosen-parameters-info__item-info
							| Текущая оценка:
							span.chosen-parameters-info__item-value
								|  228,134.74

			.content-section__inner
				.form-row
					.form-row__main-title
						| Информация о пришедших купонах, RUB

				.form-row
					label(for='choose-parameters-portoflio-3').form-row__title
						| Выберите параметр для отображения:

					select.form-control._small-text#choose-parameters-portoflio-3
						option Сумма выплаты, RUB
						option Сумма выплаты, USD

			.chosen-parameters-info
				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ДВМП (FESCO), БО 2
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  29 920,00

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ОФЗ 26207
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  16 703,04

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ОткрФКББ04
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  280 210,04

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ДельтаКредит 11 ИП
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  36 199,80

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ДельтаКредит 11 ИП
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  35 811,10

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| Элемент Лизинг, БО-04
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  4 627,20

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| Элемент Лизинг, БО-03
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  62 322,60

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| ФК ОТКРЫТИЕ, 02
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  9 214,92

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| СУЭК Финанс 05 обл
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  100 121,04

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title._normal
							| ИТОГО:
						.chosen-parameters-info__item-info
							| Сумма выплаты, RUB:
							span.chosen-parameters-info__item-value
								|  575 129,74

			.content-section__inner
				.form-row
					.form-row__main-title
						| Информация о пришедших купонах, USD

				.form-row
					label(for='choose-parameters-portoflio-4').form-row__title
						| Выберите параметр для отображения:

					select.form-control._small-text#choose-parameters-portoflio-4
						option Количество бумаг
						option Количество бумаг 2

			.chosen-parameters-info
				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| PSB Finance S.A. -5-2016-евро
						.chosen-parameters-info__item-info
							| Количество бумаг:
							span.chosen-parameters-info__item-value
								|  100,00

				.chosen-parameters-info__item
					.content-section__inner
						.chosen-parameters-info__item-title
							| VTB Eurasia Limited
						.chosen-parameters-info__item-info
							| Количество бумаг:
							span.chosen-parameters-info__item-value
								|  13,00

			.content-section__inner
				.form-row
					.form-row__main-title
						| Следующие купонные выплаты

			.bids._equal-cols
				.bid__item
					.content-section__inner
						.bid__title
							| Номос-банк
						dl.bid__item-info._no-b-indent
							dt.bid__item-info__title
								| Валюта:
							dd.bid__item-info__info
								| USD
							dt.bid__item-info__title
								| Ставка купона, % годовых:
							dd.bid__item-info__info
								| 10,00
							dt.bid__item-info__title
								| Количество бумаг:
							dd.bid__item-info__info
								| 200
							dt.bid__item-info__title
								| Сумма купона:
							dd.bid__item-info__info
								| 10 000,00
							dt.bid__item-info__title
								| Сумма выплаты, RUB:
							dd.bid__item-info__info
								| 2 000 000,00
							dt.bid__item-info__title
								| Дата выплаты:
							dd.bid__item-info__info
								| 26.10.2016

				.bid__item
					.content-section__inner
						.bid__title
							| Российские железные дороги БО-03
						dl.bid__item-info._no-b-indent
							dt.bid__item-info__title
								| Валюта:
							dd.bid__item-info__info
								| RUB
							dt.bid__item-info__title
								| Ставка купона, % годовых:
							dd.bid__item-info__info
								| 11,75
							dt.bid__item-info__title
								| Количество бумаг:
							dd.bid__item-info__info
								| 2187
							dt.bid__item-info__title
								| Сумма купона:
							dd.bid__item-info__info
								| 58,59
							dt.bid__item-info__title
								| Сумма выплаты, RUB:
							dd.bid__item-info__info
								| 128 136,33
							dt.bid__item-info__title
								| Дата выплаты:
							dd.bid__item-info__info
								| 20.11.2016

				.bid__item
					.content-section__inner
						.bid__title
							| ВТБ
						dl.bid__item-info._no-b-indent
							dt.bid__item-info__title
								| Валюта:
							dd.bid__item-info__info
								| RUB
							dt.bid__item-info__title
								| Ставка купона, % годовых:
							dd.bid__item-info__info
								| 19,00
							dt.bid__item-info__title
								| Количество бумаг:
							dd.bid__item-info__info
								| 400
							dt.bid__item-info__title
								| Сумма купона:
							dd.bid__item-info__info
								| 19 000,00
							dt.bid__item-info__title
								| Сумма выплаты, RUB:
							dd.bid__item-info__info
								| 7 600 000,00
							dt.bid__item-info__title
								| Дата выплаты:
							dd.bid__item-info__info
								| 06.12.2016

				.bid__item
					.content-section__inner
						.bid__title
							| ЕвразХолдинг Финанс 001P-01R
						dl.bid__item-info._no-b-indent
							dt.bid__item-info__title
								| Валюта:
							dd.bid__item-info__info
								| RUB
							dt.bid__item-info__title
								| Ставка купона, % годовых:
							dd.bid__item-info__info
								| 12,60
							dt.bid__item-info__title
								| Количество бумаг:
							dd.bid__item-info__info
								| 1 121
							dt.bid__item-info__title
								| Сумма купона:
							dd.bid__item-info__info
								| 62,83
							dt.bid__item-info__title
								| Сумма выплаты, RUB:
							dd.bid__item-info__info
								| 70 432,43
							dt.bid__item-info__title
								| Дата выплаты:
							dd.bid__item-info__info
								| 27.03.2016

		.tab-container._black-inverted#portfolio-2
			.content-section__inner
				.section-title._medium-indent
					| Динамика портфеля ДУ 2


		include assets/jade/partials/send-report

	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end