.chart-pie__info-container
	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Фонды

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 4 932,48
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 94.15%;")
