.chart-pie__info-container
	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Российский рубль

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 4 952,48
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 94.15%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Доллар США

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 0
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 0%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Евро

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 0
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 0%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Фунт стерлингов

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 0
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 0%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Японская Йена

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 0
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 0%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Швейцарский франк

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 0
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 0%;")


