.chart-pie__info-container._no-percents
	.chart-pie__info
		.content-section__inner

			.chart-pie__info-title
				| Россия

			.chart-pie__info-value
				| 66,7%

			.chart-pie__date-and-value
				dl
					dt Дата:
					dd 15 августа 2016
					dt Значение:
					dd 5000

	.chart-pie__info
		.content-section__inner

			.chart-pie__info-title
				| Европа

			.chart-pie__info-value
				| 19,1%

			.chart-pie__date-and-value
				dl
					dt Дата:
					dd 14 августа 2016
					dt Значение:
					dd 2500

	.chart-pie__info
		.content-section__inner

			.chart-pie__info-title
				| Северная Америка

			.chart-pie__info-value
				| 6,6%

			.chart-pie__date-and-value
				dl
					dt Дата:
					dd 15 августа 2016
					dt Значение:
					dd 500

	.chart-pie__info
		.content-section__inner

			.chart-pie__info-title
				| Центральная и Южная Америка

			.chart-pie__info-value
				| 5,5%

			.chart-pie__date-and-value
				dl
					dt Дата:
					dd 15 августа 2016
					dt Значение:
					dd 500

	.chart-pie__info
		.content-section__inner

			.chart-pie__info-title
				| Ближний Восток

			.chart-pie__info-value
				| 2,1%

			.chart-pie__date-and-value
				dl
					dt Дата:
					dd 16 августа 2016
					dt Значение:
					dd 100
