.chart-pie__info-container
	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Не определено

			.chart-pie__info-title
				| 89,15%

			.chart-pie__info-value
				| 4 471,61
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 89.15%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Государственные ценные бумаги

			.chart-pie__info-title
				| 10,85%

			.chart-pie__info-value
				| 460,87
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 10.85%;")