.chart-pie__info-container
	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| МинФин России

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 1 728,99
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 87.15%;")


	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ОАО «Силовые машины»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 267,1
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 15.15%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Правительство Москвы в лице
				| Департамента финансов г. Москвы

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 263,82
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 14.95%;")


	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ПАО «Магнит»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 258,95
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 14.15%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ОАО «Акрон»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 245,25
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 13.8%;")


	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ПАО «ВымпелКом»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 245,07
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 13.75%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ООО «ИКС 5 Финанс»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 225,79
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 13.15%;")


	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ОАО «АФК Система»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 206,85
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 12.45%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ООО «МегаФон Финанс»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 202,41
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 12.15%;")


	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| ОАО «Полюс Золото»

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 197,91
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 11.15%;")

	.chart-pie__info
		.content-section__inner
			.chart-pie__title
				| Другое

			.chart-pie__info-title
				| &nbsp;

			.chart-pie__info-value
				| 1 096,54
			.chart-pie__percents
				.chart-pie__percents-value(style="width: 55.15%;")
