.files-nav
	.content-section__inner
		.files-nav__arrow._left
		.files-nav__value 2016
		.files-nav__arrow._right

.table-content.full
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Анкета Управляющей компании

							p
								a(href='#') Скачать
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Заявление об открытии лицевого счета (для физического лица)

							p
								a(href='#') Скачать
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Редакция Договора доверительного управления (стандартная форма присоединения), действующая с 20.05.2016г. на текущий день

							p
								a(href='#') Скачать
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Сводный отчет за период

							p
								a(href='#') Скачать