.folders-list
	.folders-list__item
		.content-section__inner
			i.icon-folder
			span.folders-list__year 2017

	.folders-list__item
		.content-section__inner
			i.icon-folder
			span.folders-list__year 2016

	.folders-list__item
		.content-section__inner
			i.icon-folder
			span.folders-list__year 2015

	.folders-list__item
		.content-section__inner
			i.icon-folder
			span.folders-list__year 2014
