header.page-header
	.header-row
		.header-row__inner
			.header__logo
				.brand-logo
					img(src='assets/img/brand-logo.png' alt='ИНГОССТРАХ Инвестиции')
		include ../../../partials/menu-bar

	.header-menu
		.header-menu__item
			a(href='#').header-menu__link
				| Возможности
		.header-menu__item
			a(href='#').header-menu__link
				| Соглашения
		.header-menu__item
			a(href='#').header-menu__link
				| Подключить


