header.page-header
	.header-row
		.header-row__inner
			.header__logo
				.brand-logo
					img(src='assets/img/brand-logo.png' alt='ИНГОССТРАХ Инвестиции')
		include ../../../partials/menu-bar

	.header-menu
		.header-menu__item
			.header-menu__link.js-toggle-next-el
				| Портфель
				.header-menu__toggle-icon
			.header-menu__submenu
				.header-menu__item
					a(href='#').header-menu__link
						| Оценка портфеля
				.header-menu__item
					a(href='#').header-menu__link
						| Анализ портфеля
				.header-menu__item
					a(href='#').header-menu__link
						| История

		.header-menu__item
			.header-menu__link.js-toggle-next-el
				| ПИФы
				.header-menu__toggle-icon
			.header-menu__submenu
				.header-menu__item
					a(href='#').header-menu__link
						| Инвестиционный портфель ПИФ
				.header-menu__item
					a(href='#').header-menu__link
						| Заявки на приобретение
				.header-menu__item
					a(href='#').header-menu__link
						| Сводный отчет
				.header-menu__item
					a(href='#').header-menu__link
						| Документы по ПИФ

		.header-menu__item
			.header-menu__link.js-toggle-next-el
				| ДУ
				.header-menu__toggle-icon
			.header-menu__submenu
				.header-menu__item
					a(href='#').header-menu__link
						| Инвестиционный портфель ДУ
				.header-menu__item
					a(href='#').header-menu__link
						| Информация о движении денежных средств
				.header-menu__item
					a(href='#').header-menu__link
						| Информация о начисленных комиссиях
				.header-menu__item
					a(href='#').header-menu__link
						| Информация по сделкам
				.header-menu__item
					a(href='#').header-menu__link
						| Документы по ДУ

		.header-menu__item
			.header-menu__link.js-toggle-next-el
				| ИИС
				.header-menu__toggle-icon
			.header-menu__submenu
				.header-menu__item
					a(href='#').header-menu__link
						| Портфель ИИС
				.header-menu__item
					a(href='#').header-menu__link
						| Информация о движении денежных средств
				.header-menu__item
					a(href='#').header-menu__link
						| Информация о начисленных комиссиях
				.header-menu__item
					a(href='#').header-menu__link
						| Информация по сделкам
				.header-menu__item
					a(href='#').header-menu__link
						| Документы по ИИС
		.header-menu__item
			a(href='#').header-menu__link
				| Медиа

		.header-menu__item
			a(href='#').header-menu__link
				| Уведомления
				span.notice-count
					| 30

		.header-menu__item
			.header-menu__link.js-toggle-next-el
				| Профиль и настройки
				.header-menu__toggle-icon
			.header-menu__submenu
				.header-menu__item
					a(href='#').header-menu__link
						| Пользователь
				.header-menu__item
					a(href='#').header-menu__link
						| Правила пользования
				.header-menu__item
					a(href='#').header-menu__link
						| Ваш персональный менеджер
				.header-menu__item
					a(href='#').header-menu__link
						| FAQ
				.header-menu__item
					a(href='#').header-menu__link
						| Настройки

		.header-menu__item
			a(href='#').header-menu__link
				| Выход


