$accordion-title-padding: 10px;

.accordion {
  border-bottom: 2px solid $border-color;
  padding-top: 23px;
}

.accordion__section-title {
  position: relative;
  padding: 23px 0 25px 0;
  font-size: 1.385rem;
  cursor: pointer;
  user-select: none;
  color: $title-color;
  border-top: 2px solid $border-color;

  .content-section__inner {
    position:relative;
    padding-left: 60px;

    &::before,
    &::after {
      content: "";
      width: 17px;
      height: 3px;
      position: absolute;
      top: 9px;
      left: 20px;
      background: $title-color;
      transform: rotate(135deg);

      @media(min-width: $breakpoint-md) {
        width: 24px;
        height: 5px;
        top: 17px;
        left: 30px;
      }
    }
    &::after {
      transform: rotate(-135deg);
      left: 30px;

      @media(min-width: $breakpoint-md) {
        left: 44px;
      }
    }
    @media(min-width: $breakpoint-md) {
      padding-left: 100px;
    }
  }
}

.accordion__section-title.is-active {
  .content-section__inner {
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.accordion__section {
  display: none;
  font-size: 1rem;
  color: $title-color;

  .content-section__inner {
    padding: 0 20px 25px 60px;

    @media(min-width: $breakpoint-md) {
      padding: 30px 20px 40px 100px;
    }
  }
  &.is-visible {
    display: block;
  }
}

.accordion-panel__heading {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  text-align: left;
  .title {
    font-family: $base-font-family;
    font-size: 1.385rem;
  }

  .title__note {
    display: block;
    font-family: $base-font-family;
    font-size: $note-font-size;
    color: $text-pale;
    margin-top:8px;
  }

  &::before,
  &::after {
    content: "";
    width: 17px;
    height: 3px;
    position: absolute;
    top: 9px;
    left: 0;
    background: $title-color;
    transform: rotate(45deg);

    @media(min-width: $breakpoint-md) {
      width: 24px;
      height: 5px;
      top: 17px;
    }
  }
  &::after {
    transform: rotate(-45deg);
    left: 10px;

    @media(min-width: $breakpoint-md) {
      left: 14px;
    }
  }

  @media(min-width: $breakpoint-md) {
    padding: 0 0 0 70px;
  }

}

.accordion-panel__heading.is-active {
    &::before {
      transform: rotate(135deg);
    }
    &::after {
      transform: rotate(-135deg);
    }
}

.accordion-panel__body {
  display: none;

  .accordion-panel__body-item {
    margin-top: $accordion-content-padding/3;
    @media(min-width: $breakpoint-sm) {
      margin-top: $accordion-content-padding/2.5;
    }
    @media(min-width: $breakpoint-md) {
      margin-top: $accordion-content-padding;
    }
  }

  &.is-visible {
    display: block;
  }
}

.accordion-panel__row {
  padding-left: 20px;

  .form-list {
    padding-left: 20px;
  }

  @media(min-width: $breakpoint-md) {
    padding-left: 30px;

    .form-list {
      padding-left: 30px;
    }
  }
}