.chart-container {
  border-bottom: 2px solid $border-color;

  &._no-b-indent {
    margin-bottom: 0;
  }
  &._height-auto {
    height: auto;
  }
}
.chart-pie {
  @include clearfix();

  &__section {
    @include clearfix();
    color: $title-color;
  }

  &__main-title {
    font-size: 1.615rem;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;

    &._top-indent {
      padding-top: 60px;
    }

    @media(min-width: $breakpoint-md) {
      padding-top: 50px;
      padding-bottom: 35px;

      &._top-indent {
        padding-top: 90px;
      }
    }
  }

  .chart-pie__container {
    width: 200px;
    height: 200px;
    margin: 15px auto 40px auto;

    @media(min-width: $breakpoint-md) {
      margin: 0 0 40px 30px;
      float: left;
    }
  }

  .chart-pie__main-info {
    text-align: center;
    padding: 0 0 35px;

    @media(min-width: $breakpoint-md) {
      width: calc(100% - 285px);
      margin: 59px 0 0 55px;
      padding: 0;
      float: left;
    }

    &__title {
      font-size: 1rem;
      padding-bottom: 20px;
    }
    &__value {
      font-size: 1.385rem;
    }
  }

  &__tabs {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    .content-section__inner {
      width: 100%;
      display: table;
      table-layout: fixed;
      padding: 0;
    }
  }
  &__tab {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    font-size: 1rem;
    text-align: center;
    border-right: 2px solid $border-color;
    padding: 35px 0 20px;

    @media(min-width: $breakpoint-md) {
      padding: 45px 0 30px;
    }

    &:last-child {
      border-right: none;
    }

    &-label {
      display: block;
      padding-bottom: 7px;
    }

    &-value {
      line-height: 1.2;
    }

    &-icon {
      margin-bottom: 30px;

      &.icon-currency {
        margin-bottom: 21px;
      }

      &.icon-graph {
        margin-bottom: 25px;
      }

      @media(min-width: $breakpoint-md) {
        margin-bottom: 40px;

        &.icon-currency {
          margin-bottom: 31px;
        }

        &.icon-graph {
          margin-bottom: 35px;
        }
      }
    }
  }

  &__title {
    font-family: $base-font-family-light;
    font-size: 1.154rem;
    text-align: center;
    margin-bottom: 20px;

    @media(min-width: $breakpoint-md) {
      font-size: 1.385rem;
      margin-bottom: 35px;
    }
  }

  &__info {
    width: 100%;
    float: left;
    padding: 30px 0 61px;
    @include clearfix();
    border-bottom: 2px solid $border-color;

    &:last-child {
      border-bottom: none;

      .chart-pie & {
        border-bottom: 2px solid $border-color;
      }
    }

    &:first-child {
      padding-top: 20px;

      .chart-pie & {
        padding-top: 30px;
      }

      @media(min-width: $breakpoint-md) {
        padding-top: 30px;

        .chart-pie & {
          padding-top: 50px;
        }
      }
    }

    ._no-percents & {
      padding: 20px 0 15px;

      @media(min-width: $breakpoint-md) {
        padding: 30px 0 25px;
      }
    }


    @media(min-width: $breakpoint-md) {
      padding: 50px 0 71px;
    }

    .content-section__inner {
      position: relative;
    }

    &-title,
    &-value {
      width: 40%;
      font-size: 1rem;
      float: left;

      @media(min-width: $breakpoint-md) {
        font-size: 1.385rem;
      }
    }
    &-title {
      ._no-percents & {
        width: 80%;
        font-family: $base-font-family-light;
      }
    }

    &-value {
      width: 60%;
      text-align: right;

      ._no-percents & {
        width: 20%;
      }
    }

  }
  &__percents {
    width: calc(100% - 40px);
    height: 11px;
    background: $border-color;
    position: absolute;
    bottom: -31px;
    left: 20px;

    @media(min-width: $breakpoint-sm-md) {
      width: calc(100% - 60px);
      left: 30px;
    }

    &-value {
      height: 100%;
      background-color: $degree-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__date-and-value {
    width: 100%;
    float: left;
    font-size: 0.923rem;
    font-family: $base-font-family-light;
    margin-top: 20px;

    @media(min-width: $breakpoint-md) {
      font-size: 1rem;
      margin-top: 35px;
    }
  }
}

.highcharts-credits {
  display: none;
}
.charts-column__data {
  width: 360px;
  display: table;
  color: #2c2c2c;
  font-size: 15px;

  &-item {
    display: table-cell;
    vertical-align: middle;

    &._count {
      font-weight: bold;
      text-align: right;
      font-size: 12px;
      padding-right: 30px;
    }
  }
}
.highcharts-legend-item span {
  top: 12px !important;
}

.tooltip {
  &-container {
    width: 210px;
  }
  &-col {
    width: 50%;
    box-sizing: border-box;
    padding: 5px 5px 0;
    float: left;
  }
  &-title {
    display: block;
    color: $text-color;
  }
  &-value {
    &._green {
      color: $status-positive;
    }
  }
}

.chart__legends {
  font-size: 1rem;
  padding: 50px 0 10px;
}
.chart__legend {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  margin: 0 35px 25px 0 !important;

  &::before {
    display: none;
  }

  &._blue {
    color: $color-chart-blue;
  }

  &._red {
    color: $color-chart-red;
  }
}


.chart {
  &__date-info {
    font-family: $base-font-family-light;
    padding-top: 15px;

    @media(min-width: $breakpoint-md) {
      padding-top: 35px;
    }

    &--title {
      font-size: 1rem;
      text-align: center;
      padding-bottom: 30px;

      @media(min-width: $breakpoint-md) {
        padding-bottom: 40px;
      }
    }
  }

  &__date-range {
    font-size: 0;
    text-align: center;
    padding-bottom: 27px;

    @media(min-width: $breakpoint-md) {
      padding-bottom: 43px;
    }

    &--item {
      font-size: 0.9231rem;
      width: 11.5%;
      display: inline-block;
      vertical-align: middle;

      @media(min-width: $breakpoint-md) {
        font-size: 1.154rem;
      }

      &._left {
        text-align: left;
      }
      &._right {
        text-align: right;
      }

      &._active {
        width: 8%;
        font-family: $base-font-family;
        font-size: 1.308rem;

        @media(min-width: $breakpoint-md) {
          font-size: 1.615rem;
        }
      }
    }
  }

  &__info-block {
    @include clearfix();
    padding-bottom: 25px;

    @media(min-width: $breakpoint-md) {
      padding-bottom: 35px;
    }

    &--title,
    &--value {
      width: 60%;
      float: left;
    }
    &--value {
      width: 40%;
      text-align: right;

      span {
        color: $color-step-default;
      }
    }
  }

  &__current-value {
    font-family: $base-font-family-light;
    font-size: 1rem;
    text-align: center;
  }
}

.chart-history {
  position: relative;
  height: 350px;
  padding-top: 15px;
  margin-bottom: 15px;

  @media(min-width: $breakpoint-md) {
    margin-bottom: 20px;
  }

  &__container {
    border-bottom: 2px solid $border-color;
    padding-bottom: 25px;

    &._inside-accordion {
      border-bottom: none;
      padding-bottom: 4px;
    }

    @media(min-width: $breakpoint-md) {
      padding-bottom: 35px;

      &._inside-accordion {
        padding-bottom: 14px;
      }
    }
  }

  &__start-data,
  &__end-data {
    font-family: $base-font-family-light;
    font-size: 1rem;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 5;

    @media(min-width: $breakpoint-md) {
      top: 35px;
      left: 30px;
    }
  }
  &__end-data {
    left: auto;
    right: 20px;

    @media(min-width: $breakpoint-md) {
      right: 30px;
    }
  }
}
