.menu-bar {
  position: absolute;
  top: 50%;
  right: $container-gutter-sm;
  height: 25px;
  margin-top: -12px;

  > i {
    display: block;
    width: 40px;
    height: 5px;
    background: $title-color;
    border-radius: 5px;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  ._opened-menu & {
    & i {
      position: relative;
      top: 10px;
      transform: rotate(-45deg);

      &:not(:first-child) {
        transform: rotate(45deg);
        top: 0;
      }
      &:last-child {
        display: none;
      }

      @media(min-width: $breakpoint-md) {
        top: 16px;
      }
    }
  }

  @media(min-width: $breakpoint-md) {
    right: $container-gutter;
    height: 40px;
    margin-top: -20px;

    > i {
      width: 60px;
      height: 8px;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &:hover {
    > i {

    }
  }
}