.page-section {
  @extend %clearfix;
}

.filter {
  @extend %clearfix;
  margin-bottom: 26px;
}

.filter__column {
  float: left;
  width: 50%;
  padding: 0 2%;
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.section-header {
  display: table;
  width: 100%;
  margin-bottom: 18px;
}

.section-header + .section-title {
  margin-top: $content-section-margin;
}

.section-header__column {
  display: table-cell;
  vertical-align: middle;
  padding-right: $content-section-margin;
  &:last-child {
    text-align: right;
    padding-right: 0;
  }
}

.content-nav {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding: 3px 38px;
  line-height: 1.2;
}

.content-nav__prev {
  display: inline-block;
  width: 28px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  &::before {
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    height: 22px;
    background: url(../img/icons/icon-nav-arrow-left.png) no-repeat top center;
    background-size: contain;
  }
}

.content-nav__next {
  display: inline-block;
  width: 28px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    width: 13px;
    height: 22px;
    background: url(../img/icons/icon-nav-arrow-right.png) no-repeat top center;
    background-size: contain;
  }
}

.period-range {
  display: inline-table;
  vertical-align: top;
  width: auto;
}

.period-range__title {
  display: table-cell;
  vertical-align: middle;
  padding-right: 25px;
}

.period-range__input {
  font-size: 0;
  text-align: right;
}

.data-range-input {
  display: inline-block;
  min-height: 35px;
  line-height: 33px;
  padding-right: 40px;
  position: relative;
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

.data-range-input__value {
  padding-left: 14px;
  font-size: $note-font-size;
}


.data-range-input__icon {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 25px;
  height: 24px;
  cursor: pointer;
  background: url(../img/icons/icon-mini-calendar.png);
  background-size: cover;
}

.links-list__item,
.icon-links-list__item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.links-list__item {
  padding-right: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  @media(min-width: $breakpoint-md) {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.links-list-unstyled {
  .links-list__item {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.faq-answer {
  display: none;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: -20px;
  padding: 20px;
  line-height: 1.2;
  background: $dark-bg-color;
  border-radius: $border-radius;
  font-size: 1rem;
  font-family: $base-font-family-light;
  @media(min-width: $breakpoint-md) {
    padding: 40px;
    margin-left: -40px;
  }
}

.faq-answer.is-visible {
  display: block;
}

.download-area {
  margin-top: 14px;
  margin-bottom: $content-section-margin;
  .action-link--get-pdf {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.download-file-list {
  text-align: right;
}

.download-file-list__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 22px;
}

.detailed-info {
  margin-bottom: $content-section-margin;
  font-size: 16px;
  .phone-number {
    font-size: 18px;
  }
}

$adventage-bottom-margin: 35px;

.advantages-list {
  margin-bottom: -$adventage-bottom-margin;
}

.advantage__header {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 9px;
}

.advantage__icon,
.advantage__title {
  display: table-cell;
  vertical-align: middle;
}

.advantage__title {
  padding-left: 15px;
  font-size: 16px;
}

.advantage__icon {
  width: 42px;
}

.advantages-list__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 64px;
  margin-bottom: $adventage-bottom-margin;
}

.advantage {
  width: 335px;
  font-size: 12px;
  line-height: 1.2;
}

.advantages__title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: $bolder;
}

.error-page-404 {
  width: 493px;
  margin: 30px 0 0 187px;
  .section-title {
    text-align: left;
  }

  .section-subtitle {
    text-align: left;
    font-size: 15px;
    margin-bottom: 34px;
  }

  .links-list-unstyled {
    padding-left: 35px;
    margin-bottom: 15px;
  }
}


.inside {
  text-align: left;

  .accordion-panel__body & {
    padding: 0 0 0 40px;

    @media(min-width: $breakpoint-md) {
      padding: 0 0 0 70px;
    }
  }

  @media(min-width: $breakpoint-md) {
    padding:0 30px;
  }
}

.flex-container {
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -$item-set-space/3;
  margin-right: -$item-set-space/3;
  > .item {
    flex-grow: 1;
    margin: $item-set-space/3;
  }


  @media(min-width: $breakpoint-sm) {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -$item-set-space/2;
    margin-right: -$item-set-space/2;
    > .item {
      margin: $item-set-space/2;
    }
  }
  @media(min-width: $breakpoint-md) {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: -$item-set-space/1.5;
    margin-right: -$item-set-space/1.5;
    > .item {
      margin: $item-set-space/1.5;
    }
  }


}


.step-block {
  position: relative;
  display: table;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 0.82rem;
  font-family: $base-font-family-light;
  background: $color-step-default;
  border-radius: 5px;
  > .inner {
    display: table-cell;
    vertical-align: middle;
  }
  &.active {
    background: $color-step-active;
  }

  @media(min-width: $breakpoint-sm-md) {
    font-size: 0.923rem;
  }

  @media(min-width: $breakpoint-md) {
    font-size: 1rem;
    height: 60px;
  }
}




.obj-list-container {
  position: relative;
  border-bottom: 2px solid $border-color;
  padding-bottom: 25px;
  margin-bottom: 35px;
  @media(min-width: $breakpoint-md) {
    padding-bottom: 35px;
    margin-bottom: 60px;
  }
}

.obj-list {
  width: 100%;
  font-size: 1rem;
  > .type-row {}
  > .type-row,
  > .type-cell {
    &:not(:first-child) {
      padding-top: 15px;
    }
  }
  > .type-row > .type-cell,
  > .type-cell {
    padding-top: 5px;
    &:first-child {
      padding-top: 0;
      font-family: $base-font-family-light;

    }
    &:last-child {
      font-family: $base-font-family;
    }
  }

  @media(min-width: $breakpoint-md) {
    display: table;
    > .type-row {
      display: table-row;
    }
    > .type-row:not(:first-child) > .type-cell,
    > .type-cell:not(:first-child) {
      padding-top: 15px;
    }
    > .type-row,
    > .type-cell {
      &:not(:first-child) {
        padding-top: 0;
      }
    }
    > .type-row > .type-cell,
    > .type-cell {
      display: table-cell;
      vertical-align: top;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        padding-left: 15px;
        text-align: right;
      }
    }
  }
}


.table-content {
  position: relative;
  display: table;
  width: 100%;
  font-family: $base-font-family-light;
  font-size: 0.923rem;
  line-height: 1.2;

  > .type-row {
    display: table-row;
  }
  > .type-row .type-cell,
  > .type-cell {
    display: table-cell;
    vertical-align: top;
  }
  > .type-row >.type-cell,
  > .type-cell {
    padding: 15px 0;

    @media(min-width: $breakpoint-md) {
      padding: 20px 0;
    }
  }

  &.full {
    display: block;
    > .type-row {
      display: block;
      border-bottom: 2px solid $border-color;
    }
    > .type-row .type-cell,
    > .type-cell {
      display: block;
      .table-content {
        table-layout: fixed;
        .type-cell {
          display: table-cell;
          padding: 0;
          word-break: break-word;
          &:first-child {
            width: 130px;
            @media(min-width: $breakpoint-md) {
              width: 205px;
              padding-left: 30px;
            }
          }
          &:last-child {
            @media(min-width: $breakpoint-md) {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  &.no-bottom-border {
    > .type-row:last-child {
      border-bottom: none;
    }
  }
}


.user-question {

  .icon-question {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/icon-loading.png) no-repeat top center;
    background-size: cover;
    margin-right: 20px;

    @media(min-width: $breakpoint-md) {
      margin-right: 0;
      width: 70px;
      height: 70px;
    }
  }
  .user-question__name {
    font-size: 1rem;
  }
  .user-question__status {
    font-family: $base-font-family-light;
    font-size: 0.846rem;
    color: #8c9196;

    @media(min-width: $breakpoint-md) {
      margin-top: -8px;
    }
  }

  &.is-solved {
    .icon-question {
      background: url(../img/icon-added.png) no-repeat top center;
      background-size: cover;
    }
    .user-question__status {
      color: #0ca462;
    }
  }
}

.section-upload {
  position: relative;
  background: $dark-bg-color;
  padding:35px 0 1px 0;
}
.ajax-upload-dragdrop {
  width: 100% !important;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.custom-drag-and-drop__text {
  display: table-header-group;
  font-size: 1.154rem;
  line-height: 1.2;
  font-family: $base-font-family-light;
}
.ajax-file-upload {
  @include button();
  color: white;
  background: $color-step-default;
  text-align: center;
  width: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px 90px;
  font-size: 1rem;
  &:hover {
    background-color: lighten($color-step-default,5%);
  }
  &:active {
    outline: none;
    background-color: darken($color-step-default,5%);
  }
}
.ajax-file-upload-statusbar {
  font-size: 1rem;
  font-family: $base-font-family-light;
  border: 1px solid $border-color;
  width: 100% !important;
  background: $main-bg-color;
  border-radius: $border-radius;
  margin-top: 20px;
  padding: 10px 60px 10px 40px;
  text-align: left;
  position: relative;

  @media(min-width: $breakpoint-md) {
    padding: 15px 60px 15px 40px;
  }
}
.ajax-file-upload-red {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -11px;
  text-indent: -9999px;

  &::before,
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background: $title-color;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: -4px;
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.ajax-file-upload-filename {
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-all;
}
.ajax-file-upload-green,
.ajax-file-upload-progress{
  display: none !important;
}

.error-page-content {

  p {
    margin-bottom: 15px;

    @media(min-width: $breakpoint-sm) {

    }

    @media(min-width: $breakpoint-md) {
      margin-bottom: 35px;
    }
  }

  .links-list {
    margin-bottom: 25px;

    @media(min-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
  }
}

.put-phone-code {
  display: none;
}
.is-active {

  .put-phone-code {
    display: block;
  }

  .get-phone-code {
    display: none;
  }
}

.panel{
  font-size: 1.385rem;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  color: $text-color;
  display: block;
  margin: 30px 0;
  padding: 40px 50px 40px 80px;
  position: relative;
  text-decoration: none;

  &-title {
    display: block;
  }

  @media(min-width: $breakpoint-md) {
    padding: 60px 120px 60px 122px;
  }

  .icon-add {
    width: 44px;
    height: 44px;
    background: url(../img/icon-add.png) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: calc(50% - 22px);
    left: 20px;

    @media(min-width: $breakpoint-md) {
      width: 70px;
      height: 70px;
      top: calc(50% - 35px);
      left: 28px;
    }
  }

  .icon-ring {
    width: 39px;
    height: 42px;
    background: url(../img/icon-notify.png) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: calc(50% - 21px);
    left: 20px;

    @media(min-width: $breakpoint-md) {
      width: 44px;
      height: 48px;
      top: calc(50% - 24px);
      left: 38px;
    }
  }

  &__download {
    padding: 30px 50px 30px 80px;

    .panel-title {
      padding-bottom: 10px;
    }

    @media(min-width: $breakpoint-md) {
      padding: 50px 120px 50px 122px;

      .panel-title {
        padding-bottom: 20px;
      }
    }
  }

  &::before,
  &::after {
    content: "";
    width: 17px;
    height: 3px;
    position: absolute;
    top: calc(50% - 8px);
    right: 20px;
    background: $title-color;
    transform: rotate(45deg);

    @media(min-width: $breakpoint-md) {
      width: 24px;
      height: 5px;
      right: 30px;
      top: calc(50% - 9px);
    }
  }
  &::after {
    transform: rotate(-45deg);
    right: 20px;
    top: calc(50% + 3px);

    @media(min-width: $breakpoint-md) {
      right: 30px;
      top: calc(50% + 4px);
    }
  }
}

.bullets {
  text-align: center;
  font-size: 0;
  padding-bottom: 30px;

  @media(min-width: $breakpoint-md) {
    padding-bottom: 50px;
  }
}
.bullet-item {
  width: 14px;
  height: 14px;
  border-radius: $border-radius-circle;
  background: $grey-bg-color;
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;

  &._active {
    background: $degree-color;
  }
}

.icon-datepicker {
  width: 35px;
  height: 34px;
  background: url(../img/icon-calendar-blue.png) no-repeat top center;
  background-size: cover;
  display: inline-block;

  @media(min-width: $breakpoint-md) {
    width: 50px;
    height: 48px;
  }
}

.icon-currency {
  width: 43px;
  height: 42px;
  background: url(../img/icon-currency-exchange.png) no-repeat top center;
  background-size: cover;
  display: inline-block;

  @media(min-width: $breakpoint-md) {
    width: 58px;
    height: 57px;
  }
}

.icon-graph {
  width: 43px;
  height: 42px;
  background: url(../img/icon-graph.png) no-repeat top center;
  background-size: cover;
  display: inline-block;

  @media(min-width: $breakpoint-md) {
    width: 60px;
    height: 53px;
  }
}

