.page-header {
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.12);
  height: 60px;

  @media(min-width: $breakpoint-md) {
    height: 120px;
  }
}

.header-row {
  height: 100%;
  position: relative;
  max-width: $desktop-lg;
  margin: 0 auto;
}


.header-row__inner {
  @extend %container;
  display: table;
  width: 100%;
  height: 100%;
  background: $main-bg-color;

  .form-grid {
    height: 100%;
  }
}

.header-row--decoration {
  height: 350px;
  background-size: cover;
}

.header__logo {
  display: table-cell;
  vertical-align: middle;
}

.header__greeting {
  display: table-cell;
  vertical-align: top;
  padding: 20px 63px;
}

.header__profile-menu {
  display: table-cell;
  vertical-align: top;
  padding-top: 12px;
  width: 520px;
  text-align: right
}

.header-greeting {
  font-size: $note-font-size;
}

.header-menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 70px;
  left: 0;
  background: $main-bg-color;
  display: none;

  ._opened-menu & {
    display: block;
  }

  &__item {
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    .header-menu__submenu & {
      border-bottom: none;
      background: $grey-bg-color;
    }
  }
  &__link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: $title-color;

    &:hover {
      text-decoration: underline;
    }

    .header-menu__submenu & {
      font-size: 1rem;
      font-family: $base-font-family-light;

      @media(min-width: $breakpoint-md) {
        font-size: 0.75rem;
      }
    }

    @media(min-width: $breakpoint-sm-md) {
      padding: 20px 30px;
    }

    @media(min-width: $desktop-lg) {
      padding: 20px calc((100% - 750px + 120px)/2);
    }
  }

  &__submenu {
    display: none;

    &.is-visible {
      display: block;
    }
  }
  &__toggle-icon {
    width: 24px;
    height: 14px;
    margin-right: 6px;
    position: relative;
    top: 5px;
    float: right;
    transition: transform 0.2s linear;

    .is-active & {
        transform: rotate(180deg);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: -2px;
      width: 17px;
      height: 3px;
      border-radius: 3px;
      background: $arrow-color;
      transform: rotate(-135deg);
    }
    &::after {
      left: 8px;
      transform: rotate(135deg);
    }
  }


  @media(min-width: $breakpoint-md) {
    top: 130px;
  }
}
.notice-count {
  width: 40px;
  height: 40px;
  background: $degree-color;
  font-size: 0.85rem;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: $border-radius-circle;
  top: -13px;
  right: -1px;
  position: relative;
  float: right;

  @media(min-width: $breakpoint-md) {
    width: 52px;
    height: 52px;
    line-height: 52px;
    top: -13px;
    right: -10px;
  }
}


